<div class='center container'>

	<%= form_for [@school, @classroom] do |f| %>

		<%= f.label :name, class:'form-text' %>
		<%= f.text_field :name %>

		<%= f.label :size, class:'form-text' %>
		<%= f.text_field :size %>

		<%= f.submit nil, class: 'btn submit-classroom-btn green' %>

		<%= link_to 'Cancel', :back, class:'btn cancel-classroom-btn black' %>

	<% end %>

</div>