<h1 id='classrooms-header'>Classrooms For: <%= @school.name %></h1>

<% if @classrooms.any? %>
  <div class='row '>
    <% @classrooms.each do |classroom| %>
      <div class="col s12 m6 l4 ">
       <div class="card red darken-3">
         <div class="card-content">
           <span class="card-title"><%= @school.classrooms.find(classroom).name %></span>
         </div>
         <div class="card-action">
           <%= link_to 'Look at Class', school_classroom_path(@school, classroom), class: 'btn' %>
         </div>
       </div>
      </div>
    <% end %>
  </div>
<% else %>
  <h3 class='no-classrooms-header'>No classes, please add one.</h3>
<% end %>

<div class='paginate'>
  <%= will_paginate @classrooms %>
</div>

<div class='center'>
	<%= link_to 'Add New Classes', new_school_classroom_path(@school), class:'btn new-classroom-btn green' %>
</div>