<h1>Displaying: <%= @school.name %> Home of the <%= @school.mascot %>!</h1>

<h3><%= @school.name %> was built in <%= @school.year %></h3>


<%= link_to 'Back To Schools', schools_path, class:'btn' %>

<%= link_to 'Classrooms', school_classrooms_path(@school), class:'btn' %> 
